.x_panel
  .x_title
    %h2= "Editar Partido"
    .clearfix
  .x_content
    = form_for @team, url: @team.new_record? ? teams_path : team_path(@team), remote: true, html: {class: "form-horizontal"} do |f|
      .form-group
        .col-md-3.control-label= f.label "Short Code"
        .col-md-5= f.text_field :short_code, class: 'string form-control'
      .form-group
        .col-md-3.control-label= f.label "ACB Short Code"
        .col-md-5= f.text_field :acb_short_code, class: 'string form-control'
      .form-group
        .col-md-3.control-label= f.label "Name"
        .col-md-5= f.text_field :name, class: 'string form-control'
      .form-group
        .col-md-3.control-label= f.label "Second Name"
        .col-md-5= f.text_field :second_name, class: 'string form-control'
      .form-group
        .col-md-3.control-label= f.label "Resting Round 1"
        .col-md-5= f.text_field :rest_round_1, class: 'string form-control'
      .form-group
        .col-md-3.control-label= f.label "Resting Round 2"
        .col-md-5= f.text_field :rest_round_2, class: 'string form-control'
      .form-group
        .col-md-3.control-label= f.label "Playing Cup"
        .col-md-5= f.check_box :playing_cup
      .form-group
        .col-md-3.control-label= f.label "Active"
        .col-md-5= f.check_box :active

      .form-group
        .col-md-3
        .col-md-5
          = f.submit "Save", class: "btn btn-primary"
          %button.btn.btn-default{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}= t("cancel")