.row.tile_count
  = data_box "Current Season", CURRENT_SEASON, "fa fa-snowflake-o" 
  = data_box "Current Round", CURRENT_ROUND, "fa fa-hashtag" 
  = data_box "Total Players", Player.count, "fa fa-user" 
  = data_box "Total Statistics", Statistic.count, "fa fa-area-chart" 
  = data_box "Total Games", Game.count, "fa fa-gamepad" 
  = data_box "Total Contents", Content.count, "fa fa-file-text-o" 