%tr{:id => dom_id(content)}
  %td.text-left= content.id
  %td= content_image content.image_thumb_url, css="height_50"
  %td= link_to content.title, content_path(content)
  %td= content.summary
  %td= content.keywords
  %td
    - if content.published
      %i.glyphicon.glyphicon-ok
    - else
      %i.glyphicon.glyphicon-remove
  %td.actions
    %ul.nav.navbar-right.panel_toolbox.list-inline
      %li
        = link_to edit_content_path(content), remote: true do
          %i.fa.fa-pencil
      %li
        = link_to content_path(content), remote: true, method: :delete, data: {confirm: t(".confirm_delete"), disable_with: t(".deleting")} do
          %i.fa.fa-trash-o