.table-responsive
  %table.table.table-striped
    %thead
      %th
      - Statistic.fields.each do |field|
        %th= t("#{field}")
    
      %tbody
        - (1..CURRENT_ROUND.to_i-1).each do |week|
          %tr
            %td= week
            - week = statistic.send("week_"+week.to_s)
            - Statistic.fields.each do |field|
              %td= week[field]
        %tr
          %th{colspan: 2}= "Promedio"
          - Statistic.fields.each do |field|
            - unless field == "game"
              %th= statistic.promedio[field]
        %tr
          %th{colspan: 2}= "Total"
          - Statistic.fields.each do |field|
            - unless field == "game"
              %th= statistic.total[field]